<div class="sign-container">
  <md-card class="page-card">
      <md-card-title>{{label_sorteo_detalle}}

          <a id="botonVolver"  class="example-tooltip-host" mdTooltip={{tooltipAtras}} [mdTooltipPosition]="position" (click)="apretarAtras()">
            <img src="assets/icons/atras.png">
          </a>

      </md-card-title>
      <md-card-content>
          <section *ngIf="errorMessage" class="bs">
              <div class="bd-example" data-example-id="">
                  <div class="alert alert-danger" role="alert">
                      <strong>{{errorMessage}}</strong>
                  </div>
              </div><br>
          </section>
          
          <label id="atributo">{{label_codigo}}: </label>
          <label>{{codigo_sorteo}}.</label><br><br>

          <label id="atributo">{{label_fecha}}: </label>
          <label>{{sorteo_cabecera.fecha_creacion}}.</label><br><br>
          
          <label id="atributo">{{label_nombre}}: </label>
          <label>{{sorteo_cabecera.nombre}}.</label><br><br>

          <ngx-datatable
            #mydatatable
            class="material fullscreen"
            [headerHeight]="50"
            [limit]="10"
            [sortType]="'multi'"
            [columnMode]="'force'"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [rows]="sorteo_detalles">
            <ngx-datatable-column name={{label_codigo}}>
              <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                {{row.codigo_producto}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name={{label_cantidad}}>
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                    {{row.cantidad}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name={{label_producto}}>
              <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                  {{row.descripcion_producto}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name={{label_posicion}}>
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                    {{row.posicion}}{{label_lugar}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name={{label_ganador}}>
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                   {{row.ganador}}
                </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>

      </md-card-content>
  </md-card>

</div>