<div class="page-content">
    <md-card fxFlex class="page-card">
      <md-card-title>
        {{label_sorteo}}
        <a class="example-tooltip-host" mdTooltip={{tooltipAgregarSorteo}} [mdTooltipPosition]="position" (click)="apretarAgregarSorteo()">
            <img src="assets/icons/nuevo.png">
        </a>
        <a id="botonVolver"  class="example-tooltip-host" mdTooltip={{tooltipAtras}} [mdTooltipPosition]="position" (click)="apretarAtras()">
          <img src="assets/icons/atras.png">
        </a>
      </md-card-title>
  
      <section *ngIf="errorMessage" class="bs">
          <div class="bd-example" data-example-id="">
                  <div class="alert alert-danger" role="alert">
                          <strong>{{errorMessage}}</strong>
                  </div>
          </div><br>
      </section>
      <md-card-content *ngIf="!errorMessage">
  
        <p>{{label_detalle_sorteo}}</p>
        <label id = 'atributo' >{{label_buscar_sorteo}}: </label>
        <input
            type='text'
            style='padding:8px;margin:15px auto;width:30%;'
            placeholder={{label_tabla_sorteo}}
            (keyup)='updateFilter($event)'
        />
          <ngx-datatable
            #mydatatable
            class="material fullscreen"
            [headerHeight]="50"
            [limit]="10"
            [sortType]="'multi'"
            [columnMode]="'force'"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [rows]="sorteos">
            <ngx-datatable-column name={{label_codigo}} >
              <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                {{row.codigo}}  
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name={{label_fecha}}>
              <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                  {{row.fecha_creacion}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name={{label_nombre}}>
              <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                {{row.nombre}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name={{label_accion}}>
              <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                <a class="example-tooltip-host" mdTooltip="{{tooltipIrSorteo}}" [mdTooltipPosition]="position">
                  <img src="assets/icons/navigation.png" (click)="apretarIrSorteo(row.codigo)">
                </a>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
      </md-card-content>
  
    </md-card>
  </div>
  
          
  