<div class="sign-container">
  <md-card class="page-card">
      <md-card-title>{{label_categoria_detalle}}
          <a class="example-tooltip-host" mdTooltip={{tooltipEditarCategoria}} [mdTooltipPosition]="position">
              <img src="assets/icons/editar.png" (click) = "apretarEditarCategoria()">
          </a>

          <a  class="example-tooltip-host" mdTooltip={{tooltipEliminarCategoria}} [mdTooltipPosition]="position" (click)="apretarEliminarCategoria()">
              <img src="assets/icons/delete.png">
          </a>
          <a id="botonVolver"  class="example-tooltip-host" mdTooltip={{tooltipAtras}} [mdTooltipPosition]="position" (click)="apretarAtras()">
            <img src="assets/icons/atras.png">
          </a>

      </md-card-title>
      <md-card-content *ngIf="categoria">
          <section *ngIf="errorMessage" class="bs">
              <div class="bd-example" data-example-id="">
                  <div class="alert alert-danger" role="alert">
                      <strong>{{errorMessageCategoria}}</strong>
                  </div>
              </div><br>
          </section>
          
          <label id="atributo">{{label_codigo_categoria}}: </label>
          <label>{{codigo}}.</label><br><br>

          <label id="atributo">{{label_nombre}}: </label>
          <label>{{categoria.nombre}}.</label><br><br>

          <label id="atributo">{{label_descripcion}}: </label>
          <label>{{categoria.descripcion}}.</label><br><br>

      </md-card-content>
  </md-card>

  <md-card class="page-card">
    <md-card-title>{{label_subcategoria}}
        <a class="example-tooltip-host" mdTooltip={{tooltipAgregarSubCategoria}} [mdTooltipPosition]="position">
            <img src="assets/icons/subcategory.png" (click) = "apretarAgregarSubCategoria()">
        </a>
        
    </md-card-title>
    <section *ngIf="errorMessageSubCategoria" class="bs">
        <div class="bd-example" data-example-id="">
            <div class="alert alert-danger" role="alert">
                <strong>{{errorMessageSubCategoria}}</strong>
            </div>
        </div><br>
    </section>
    <md-card-content *ngIf="!errorMessageSubCategoria">
    
        
        <p>{{label_detalle_subcategoria}}</p>
        <label id='atributo'>{{label_buscar_subcategoria}}: </label>
        <input
            type='text'
            style='padding:8px;margin:15px auto;width:30%;'
            placeholder={{label_tabla_subcategoria}}
            (keyup)='updateFilterSubCategoria($event)'
        />
          <ngx-datatable
            #mydatatable
            class="material fullscreen"
            [headerHeight]="50"
            [limit]="10"
            [sortType]="'multi'"
            [columnMode]="'force'"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [rows]="subcategorias">
            <ngx-datatable-column name={{label_codigo_subcategoria}}>
              <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                {{row.codigo}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name={{label_nombre_subcategoria}}>
              <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                  {{row.nombre}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name={{label_descripcion_subcategoria}}>
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                    {{row.descripcion}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name={{label_accion}}>
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                    <label id="invisible">{{row.codigo}}</label>
                    <a class="example-tooltip-host" mdTooltip={{tooltipDesAsignarSubCategoria}} [mdTooltipPosition]="position">
                        <img src="assets/icons/delete.png" (click) = "apretarDesAsignarSubCategoria(row.codigo)">
                    </a>            
                </ng-template>
              </ngx-datatable-column>
          </ngx-datatable>

    </md-card-content>
</md-card>

<md-card class="page-card">
    <md-card-title>{{label_producto}}
        <a class="example-tooltip-host" mdTooltip={{tooltipAgregarProducto}} [mdTooltipPosition]="position">
            <img src="assets/icons/product.png" (click) = "apretarAgregarProducto()">
        </a>

        
    </md-card-title>
    <section *ngIf="errorMessageProducto" class="bs">
        <div class="bd-example" data-example-id="">
            <div class="alert alert-danger" role="alert">
                <strong>{{errorMessageProducto}}</strong>
            </div>
        </div><br>
    </section>
    
    <md-card-content *ngIf="!errorMessageProducto">
        
        <p>{{label_detalle_producto}}</p>
        <label id='atributo'>{{label_buscar_producto}}: </label>
        <input
            type='text'
            style='padding:8px;margin:15px auto;width:30%;'
            placeholder={{label_tabla_producto}}
            (keyup)='updateFilterProducto($event)'
        />
          <ngx-datatable
            #mydatatable
            class="material fullscreen"
            [headerHeight]="50"
            [limit]="10"
            [sortType]="'multi'"
            [columnMode]="'force'"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [rows]="productos">
            <ngx-datatable-column name={{label_codigo_producto}}>
              <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                {{row.codigo}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name={{label_nombre_producto}}>
              <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                  {{row.nombre}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name={{label_marca_producto}}>
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                    {{row.marca}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name={{label_medida_producto}}>
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                    {{row.medida}} {{row.nombre_unidad_medida}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name={{label_accion}}>
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                    <label id="invisible">{{row.codigo}}</label>
                    <a class="example-tooltip-host" mdTooltip={{tooltipDesAsignarProducto}} [mdTooltipPosition]="position">
                        <img src="assets/icons/delete.png" (click) = "apretarDesAsignarProducto(row.codigo)">
                    </a>            
                </ng-template>
              </ngx-datatable-column>
          </ngx-datatable>

    </md-card-content>
</md-card>
  

</div>