<md-card class="page-card">
        <md-card-title>{{label_registrar_producto}}</md-card-title>
        <md-card-content>
                <section *ngIf="errorMessage" class="bs">
                        <div class="bd-example" data-example-id="">
                                <div class="alert alert-danger" role="alert">
                                        <strong>{{errorMessage}}</strong>
                                </div>
                        </div>
                        <br>
                </section>

                <h3>{{label_datos_producto}}</h3>
                <p>{{label_datos_obligatorios}}</p>

                <md-input-container>
                        <input mdInput placeholder={{label_nombre}} type="text" [(ngModel)]="nombre" name="nombre" required maxlength="40">
                        <br>
                </md-input-container>

                <md-input-container>
                        <input mdInput placeholder={{label_marca}} type="text" [(ngModel)]="marca" name="marca" required maxlength="40">
                        <br>
                </md-input-container><br><br>

                <md-select placeholder={{label_unidad_medida}} [(ngModel)]="id_unidad_medidad" name="id_unidad_medidad">
                        <md-option *ngFor="let unidadMedida of unidades_medidas" [value]="unidadMedida.id_unidad_medida" requerid>
                                {{unidadMedida.nombre}}
                        </md-option>
                </md-select>
                <br><br>

                <md-input-container>
                        <input mdInput placeholder={{label_respuesta_unidad_medida}} type="number" [(ngModel)]="medida" name="medida" maxlength="40">
                        <br>
                </md-input-container>

                <md-input-container>
                        <input mdInput placeholder={{label_stock_minimo}} type="number" [(ngModel)]="stock_minimo" name="stock_minimo" maxlength="40">
                        <br>
                </md-input-container>

        </md-card-content>
        <md-card-actions>
                <button md-raised-button (click)="apretarRegistrarProducto()">{{boton_registrar}}</button>
                <button md-raised-button (click)="apretarSalir()">{{boton_salir}}</button>
        </md-card-actions>
        <md-card-footer></md-card-footer>
</md-card>