<!--Top toolbar-->
<md-toolbar *ngIf="!appService.getState().pageFullscreen" class="topnav-container" color="primary">
  <!--Side Nav Button-->
  <a md-icon-button class="topnav-menu-btn" (click)="toggleSidenav()">
    <md-icon>menu</md-icon>
  </a>
  <!--Application Title-->
  <span class="topnav-title">{{appService.getState().topnavTitle}}</span>

  <span class="toolbar-filler"></span>
  <!--Apps Menu-->
  <span fxShow.sm="false" fxShow.xs="false"></span>

  <!--User Menu-->
  <a md-icon-button [md-menu-trigger-for]="topnavUserMenu">
    <img class="topnav-avatar" src="assets/img/avatar2.png">
  </a>
  <md-menu #topnavUserMenu="mdMenu">
    <button md-menu-item (click)="apretamosPerfil()">
      <md-icon>person</md-icon>
      <span>Perfil.</span></button>
    <button md-menu-item (click)="apretamosCerrarSesion()">
      <md-icon>lock_outline</md-icon>
      <span>Cerrar Sesi&oacute;n.</span></button>
  </md-menu>

</md-toolbar>

<!--Page container-->

<md-sidenav-container>

  <!--Side nva bar-->
  <md-sidenav
    [class.sidenav-collapse]="appService.getState().sidenavCollapse"
    *ngIf="!appService.getState().pageFullscreen"
    mode="{{appService.getState().sidenavMode}}"
    opened="{{ appService.getState().sidenavOpen }}"
    align="start"
    (close)="closeSidenav()"
    (open)="openSidenav()"
    (mouseout)="toggleSidenavCollapse()">
    <div class="sidenav-container">
      <md-nav-list *ngIf="mainMenu">
        <ng-template ngFor let-menuItem [ngForOf]="mainMenu">
          <ng-template [ngIf]="!menuItem.sub">
            <md-list-item
              (click)="toggleSidenavMenu(menuItem.name, false, false)"
              routerLink="{{menuItem.link}}"
              routerLinkActive="active">
              <a md-line>
                <i class="material-icons" aria-hidden="true" *ngIf="menuItem.mdIcon">{{menuItem.mdIcon}}</i>
                <i class="fa fa-lg {{menuItem.faIcon}}" aria-hidden="true"
                   *ngIf="menuItem.faIcon && !menuItem.mdIcon"></i>
                &nbsp;&nbsp;<span class="sidenav-collapse-item">{{menuItem.title}}</span></a>
              <span *ngIf="menuItem.notifyContent" class="{{menuItem.notifyClass}}">{{menuItem.notifyContent}}</span>
            </md-list-item>
          </ng-template>
          <ng-template [ngIf]="menuItem.sub">
            <md-list-item
              (click)="toggleSidenavMenu(menuItem.name, false, true)"
              [class.active]="activeSubMenuName === menuItem.name">
              <a md-line>
                <i class="material-icons" aria-hidden="true" *ngIf="menuItem.mdIcon">{{menuItem.mdIcon}}</i>
                <i class="fa fa-lg {{menuItem.faIcon}}" aria-hidden="true"
                   *ngIf="menuItem.faIcon && !menuItem.mdIcon"></i>
                &nbsp;&nbsp;<span class="sidenav-collapse-item">{{menuItem.title}}</span></a>
              <span *ngIf="menuItem.notifyContent" class="{{menuItem.notifyClass}}">{{menuItem.notifyContent}}</span>
              <i *ngIf="activeSubMenuName === menuItem.name"
                 class="material-icons sidenav-collapse-item">expand_more</i>
              <i *ngIf="activeSubMenuName !== menuItem.name"
                 class="material-icons sidenav-collapse-item">chevron_right</i>
            </md-list-item>
            <md-list-item
              class="sidenav-menu-sub"
              *ngFor="let subMenuItem of menuItem.sub"
              (click)="toggleSidenavMenu(subMenuItem.name, true, false )"
              [class.show]="activeSubMenuName === menuItem.name"
              routerLink="{{subMenuItem.link}}"
              routerLinkActive="active">
              <a md-line class="sidenav-menu-sub-title"><span class="sidenav-collapse-item">{{subMenuItem.title}}</span></a>
              <i class="material-icons sidenav-collapse-item">chevron_right</i>
            </md-list-item>
          </ng-template>
        </ng-template>
      </md-nav-list>
    </div>
  </md-sidenav>

  

  <!--Page content-->
  <div [class.page-container]="!appService.getState().pageFullscreen">
    <router-outlet></router-outlet>

  </div>
</md-sidenav-container>

