<md-card class="page-card">
        <md-card-title>
                {{label_registrar_combo}}
                <a class="example-tooltip-host" mdTooltip={{tooltipAgregarProducto}} [mdTooltipPosition]="position" (click)="apretarAgregarProducto()">
                        <img src="assets/icons/nuevo.png">
                </a>
                <a id="botonVolver" class="example-tooltip-host" mdTooltip={{tooltipAtras}} [mdTooltipPosition]="position" (click)="apretarAtras()">
                        <img src="assets/icons/atras.png">
                </a>
        </md-card-title>
        <md-card-content>
                <section *ngIf="errorMessage" class="bs">
                        <div class="bd-example" data-example-id="">
                                <div class="alert alert-danger" role="alert">
                                        <strong>{{errorMessage}}</strong>
                                </div>
                        </div>
                        <br>
                </section>

                <h3>{{label_datos_combo}}</h3>
                <p>{{label_datos_obligatorios}}</p>

                <md-input-container>
                        <input mdInput placeholder={{label_nombre}} type="text" [(ngModel)]="nombre" name="nombre" required maxlength="40">
                        <br>
                </md-input-container>

                <label id='atributo'>{{label_total}}: </label>
                <label *ngIf="total >= 0">{{label_peso}} {{total}}</label>
                <label *ngIf="total < 0 || total ==null">---</label>


                <br>

                <!--LISTA COMBO-->

                <div>
                        <label id='atributo'>{{label_buscar_producto}}: </label>
                        <input type='text' style='padding:8px;margin:15px auto;width:30%;' placeholder={{label_tabla_lista_combo}} (keyup)='updateFilterCombo($event)'
                        />
                        <ngx-datatable #mydatatableCombo
                                class="material fullscreen" 
                                [headerHeight]="50" 
                                [limit]="10" 
                                [sortType]="'multi'" 
                                [columnMode]="'force'"
                                [footerHeight]="50" 
                                [rowHeight]="'auto'"
                                [rows]="productos_combo">
                                <ngx-datatable-column name={{label_codigo}}>
                                        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                                                {{row.codigo_producto}}
                                        </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name={{label_nombre}}>
                                        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                                                {{row.nombre_producto}}
                                        </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name={{label_marca}}>
                                        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                                                {{row.marca_producto}}
                                        </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name={{label_medida}}>
                                        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                                                {{row.medida}} {{row.nombre_medida}}
                                        </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name={{label_cantidad}}>
                                        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                                                {{lista_cantidad_productos_temp[row.$$index]}}
                                        </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name={{label_precio_compra}}>
                                        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                                                {{label_peso}} {{row.precio_compra}}
                                        </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name={{label_margen_ganancia}}>
                                        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                                                {{row.margen_ganancia}} {{label_porcentaje}}
                                        </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name={{label_precio_venta}}>
                                        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                                                {{label_peso}} {{row.precio_venta}}
                                        </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name={{label_accion}}>
                                        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                                                <a class="example-tooltip-host" mdTooltip="{{tooltipEditarProducto}}" [mdTooltipPosition]="position">
                                                        <img src="assets/icons/editar.png" (click)="apretarEditarProductoCombo(row)">
                                                </a>
                                                <a class="example-tooltip-host" mdTooltip="{{tooltipEliminarProducto}}" [mdTooltipPosition]="position">
                                                        <img src="assets/icons/delete.png" (click)="apretarEliminarProductoCombo(row)">
                                                </a>
                                        </ng-template>
                                </ngx-datatable-column>
                        </ngx-datatable>
                </div>
        </md-card-content>
        <md-card-actions>
                <button md-raised-button (click)="apretarRegistrarCombo()">{{boton_registrar}}</button>
                <button md-raised-button (click)="apretarSalir()">{{boton_salir}}</button>
        </md-card-actions>
        <md-card-footer></md-card-footer>
</md-card>