<div class="sign-container">
        <form (keyup.enter)="apretarModificarCliente()">
        <md-card class="page-card">
                <md-card-title>{{label_modificar_cliente}}</md-card-title>
                <md-card-content>
                        <section *ngIf="errorMessage" class="bs">
                                <div class="bd-example" data-example-id="">
                                        <div class="alert alert-danger" role="alert">
                                                <strong>{{errorMessage}}</strong>
                                        </div>
                                </div>
                                <br>
                        </section>

                        <h3>{{label_datos_cliente}}</h3>

                        <label id="atributo">{{label_codigo}}: </label>
                        <label>{{codigo}}.</label> <br><br>
                        
                        <label id="atributo">{{label_dni}}: </label>
                        <label>{{dni}}.</label> <br><br>

                        <md-input-container>
                                <input mdInput placeholder={{label_nombre}} type="text" [(ngModel)]="nombre" name="nombre" required maxlength="40">
                                <br>
                        </md-input-container>

                        <md-input-container>
                                <input mdInput placeholder={{label_apellido}} type="text" [(ngModel)]="apellido" name="apellido" required maxlength="40">
                                <br>
                        </md-input-container>

                        <md-input-container>
                                <input mdInput placeholder={{label_telefono}} type="number" [(ngModel)]="telefono" name="telefono" required maxlength="20">
                                <br>
                        </md-input-container>

                        <md-input-container>
                                <input mdInput placeholder={{label_direccion}} type="text" [(ngModel)]="direccion" name="direccion" required maxlength="60">
                                <br>
                        </md-input-container>


                </md-card-content>
                <md-card-actions>
                        <button md-raised-button (click)="apretarModificarCliente()">{{boton_modificar}}</button>
                        <button md-raised-button (click)="apretarSalir()">{{boton_salir}}</button>
                </md-card-actions>
                <md-card-footer></md-card-footer>
        </md-card>
        </form>
</div>